<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Détails du Client</title>
</head>
<body>
    <h1>Détails du Client</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Création</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Adresse</th>
        </tr>
        <tr>
            <td>{{ data[0] }}</td>
            <td>{{ data[1] }}</td>
            <td>{{ data[2] }}</td>
            <td>{{ data[3] }}</td>
            <td>{{ data[4] }}</td>
        </tr>
    </table>
</body>
</html>
